//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:				'PT Sans'; 
$mainFontSize:		18px;
$mainFontHeight:	24px;
$mainFontWeight:	400;
$mainFontColor:		#000;

$secondFont:				'Verdana'; 
$secondFontSize:		14px;
$secondFontHeight:	22px;
$secondFontWeign:		400;
$secondFontColor:		#525252;

$fixFont:					Verdana; 
$fixFontSize:			14px;
$fixFontHeight:		24px;

$font: 'Arial';

// Variables => Colors
//----------------------------------------------------//
$default: #56606b;

$main: red;

$black: #000;
$white: #fff;

