button,
	.btn {
		text-align: center;
		vertical-align: top;
		font-weight: $mainFontWeight;
		font-size: $mainFontSize;
		line-height: $mainFontHeight;
		padding: 7px 20px;
		text-transform: uppercase;
		background: #e22b37;
		color: #fff;
		border: 0;
		border-radius: 0; 
		position: relative;
		transition: all .3s ease-in-out;
		width: 100%;
		display: block;
		&:hover,
		&.active {
			color: #fff;
			background: #af0c17;
		}
		&:focus {
			position: relative;
			top: 1px;
		}
		&.disabled,
		&[disabled="disabled"], 
		&[disabled] {
			background: #ccc;
			color: #aaa;
			cursor: not-allowed;
		}
	}